.show-component {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Ensure children fill the width */
    margin-bottom: 20px;
    max-width: 800px; /* Optimal reading width */
    background-color: transparent;
    border-radius: 8px; /* Soften edges */
    min-height: 77vh; /* Minimum height for a full editor look */
    color: #fcfbf2;
    width: 100%;
    overflow-y: auto;
      /* Hide scrollbar for Webkit browsers like Chrome, Safari */
    ::-webkit-scrollbar {
      display: none;
  }
  
  /* Hide scrollbar for IE, Edge, and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  }

  .button-group {
    display: flex; /* Align buttons horizontally */
    justify-content: left; /* Center buttons in the container */
    margin-top: 10px; /* Space between button group and the next element */
  }

  .button-group button {
    color: #706e6a; /* Light text color for contrast */
    margin: 0 5px; /* Space between buttons */
    cursor: pointer; /* Change cursor to pointer on hover */
    padding: 10px 25px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-group button:hover {
    background-color: #222222; /* Different background color for active button */
    color: rgb(182, 177, 163); /* Ensure text is still readable on active button */
    border-radius: 12px 12px 0px 0px;
  }
  
  .button-group button.active {
    background-color: #2f2f2f; /* Different background color for active button */
    color: rgb(182, 177, 163); /* Ensure text is still readable on active button */
    border-radius: 12px 12px 0px 0px;
  }
  
  .text-input {
    flex: 1; /* Allows input to expand and fill the container's height */
    padding: 16px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0; /* Adjusted margin for consistency */
    margin-bottom: 0px;
    font-size: 16px; /* Comfortable reading size */
    line-height: 1.5; /* Improve readability */
    max-height: 25px;
    border-radius: 0px; /* Consistency with container border-radius */
    background-color: transparent; /* Slightly off-white for contrast with container */
    color: #fcfbf2;
    letter-spacing: 0.2px;
    outline: none; /* Remove focus outline */
    border: none;
  }
  
  .text-input:focus {
    border-color: transparent; /* Highlight focus with a brighter border */
    box-shadow: none; /* Subtle glow effect */
  }
  
  .action-button {
    padding: 10px 25px;
    background-color: transparent;
    border: none;
    color: #fcfbf2;
    border-radius: 32px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
  }
  
  .action-button:hover {
    background-color: #353535; /* Darker shade on hover */
  }

  .icon {
    color: #282828;
  }
  
  .response-container {
    margin-top: 0px;
    padding: 10px;
    color: #575757;
    border-radius: 4px;
    background-color: transparent; /* Light background for contrast */
    width: 100%; /* Ensure it fills its container */
    box-sizing: border-box; /* Include padding in the element's total width */
    height: auto;
  }

  .counts-container {
    display: flex;
    padding: 10px;
    padding-bottom: 5px;
    align-items: center;
    justify-content: space-between;
    gap: 10px; /* Adjust the space between the total count and the pills */
    margin-top: 5px;
  }

  .counts-pills {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px; /* Adjust the space between the total count and the pills */
  }
  
  .document-count {
    margin-right: 20px; /* Adds some space between the document count and the type counts */
    color: #575757
  }
  
  .document-type-pill {
    padding: 5px 10px;
    background-color: transparent; /* Example pill background color */
    color: #87877f;
    border-radius: 2px; /* Gives the pill shape */
    border: 1px solid #87877f;
    text-align: center;
    font-size: 0.875rem; /* Adjust as needed */
    white-space: nowrap; /* Prevents the text inside the pill from wrapping */
    cursor: pointer;
  }

  .input-group {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    gap: 10px; /* Optional: adds some space between the input and button */
    background-color: transparent;
    border: 0.5px solid #2f2f2f;
    padding: 10px;
    border-radius: 8px;
  }

  .documents-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px; /* Adjust the gap between cards */
}

/* Optional: Adjustments for smaller screens */
@media (max-width: 768px) {
  .documents-grid .document-card {
      padding: 10px;
      font-size: 90%;
      max-height: 300px;
  }

  .view-toggle {
    visibility: hidden;
  }
}

.view-toggle {
  text-align: left;
  margin-top: 10px; /* Adjust spacing as needed */
}

.view-toggle button {
  background-color: transparent; /* Make buttons transparent */
  border: none; /* Remove borders */
  color: #2f2f2f; /* Light text color for contrast */
  font-size: 12px; /* Adjust font size as needed */
  padding: 5px 10px; /* Minimal padding */
  cursor: pointer; /* Cursor to indicate clickable */
  transition: color 0.3s; /* Smooth transition for hover effect */
}


.view-toggle button.active {
  color: #898784; /* Even darker for the active view mode */
}

.no-data-card {
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
  text-align: left;
  color: #f2f1e6;
  margin-top: 20px;

}

.get-started-list {
  text-align: left;
  padding-left: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
  list-style-type: none; /* Removes the default list numbering */
  padding-left: 0;
}

.get-started-list li {
  margin-bottom: 10px;
  background-color: #232323;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  line-height: 1.5;
  border: 0.5px solid #2f2f2f;

}

.document-type-pill.selected {
  background-color: #353935; /* Example: Blue background */
  color: #f1efe4; /* White text */
  border-radius: 2px; /* Optional: Rounded corners */
}



  