.upload-container {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  .file-upload-input {
    display: none; /* Hide the default input */
  }
  
  .file-upload-label {
    padding: 10px 15px;
    background-color: #1e1e1e;
    border: 0.5px solid #282828;
    color: #282828;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /*box-shadow: 0 8px 16px rgba(0,0,0,0.2);*/
    border-radius: 8px;
  }


  
  .file-upload-label:hover {
    background-color: #353535;
  }
  

  .upload-subtext {
    margin-top: 8px;
    font-size: 0.8em;
    color: #666666;
    text-align: center;
    margin-left: 10px;
  }